.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 auto;
  max-width: 30%;
  min-width:  30%;
  margin: 10px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  background-color: #979797;
  opacity: 0.6;
}
#adding {
  background: #979797;
}

.card:hover {
  opacity: 1;
  .card-description {
    opacity: 0.8;
    color: #C4D2E2;
  }
}

.card-body {
  height: 225px;
  background-size: cover;
  color: white;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: lighter;
  opacity: 0.9;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0.0;
}
.card-description h2 {
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: bold;
}
.card-description p {
  font-size: 14px;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #a0a0a0;
}
.card-footer p {
  color: rgba(0,0,0,0.4);
  font-weight: lighter;
  font-size: 18px;
}
.card-footer .controls{
  display: flex;
  align-items: center;
}
.card-footer .controls i{
  padding: 0 10px;
  color: black;
  opacity: 0.2;
}
.card-footer .controls i:hover{
  opacity: 0.4;
}

.fa-plus {
    color: #b5b5b5;
    font-size: 9em;
    align-items: center;
    padding-top: 76px;
    padding-left: 79px;
}
