<div class="back">

  <div class="field">
    <div class="index-block" id="ToC">
      <h2 class="index-title">The Spirits:</h2>
      <div class="alles">
        <div class="champ">
          <img src="https://www.shareicon.net/data/128x128/2016/03/24/738612_party_512x512.png">
        </div>
        <div class="tab1">
          <table class="table_alignment">
            <tbody>
              <tr>
                <td>
                  <ul class="list-inline">
                    <li><a href="#gin">Gin Drinks</a></li>
                    <li><a href="#whiskey">Whiskey Drinks</a></li>
                    <li><a href="#tequila">Tequila Drinks</a></li>
                    <li><a href="#rum">Rum and Cachaça</a></li>
                  </ul>
                </td>
                <td class="pads">
                  <ul class="list-inline">
                    <li><a href="#vodka">Vodka Drinks</a></li>
                    <li><a href="#brandy">Brandy Drinks</a></li>
                    <li><a href="#aperitifs">Aperitifs</a></li>
                    <li><a href="#Amari">Amari, and More</a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="kein_champ">
          <img src="https://www.shareicon.net/data/128x128/2016/03/24/738622_people_512x512.png">
        </div>
      </div>
    </div>
    <br>
    <br>
    <h3>Sazerac</h3>
    <p class="cubic">This is whiskey, bitters, and sugar, in an absinthe-coated glass</p>
    <img class="img_fav" src="http://static1.businessinsider.de/image/57f4e8a5dd08954e358b48ce-1200/10-sazerac-this-is-whiskey-bitters-and-sugar-in-an-absinthe-coated-glass.jpg">
    <br>
    <br>
    <br>
    <br>
    <h3>Mojito</h3>
    <p class="cubic">The Cuban classic was among the top 10 in more than a third of the bars polled. It's made with rum, lime juice, soda, brown cane sugar, fresh mint, and ice.</p>
    <img class="img_fav" src="http://static4.businessinsider.de/image/57f4e8a3dd08954e358b48cc-1200/9-mojito-the-cuban-classic-was-among-the-top-10-in-more-than-a-third-of-the-bars-polled-its-made-with-rum-lime-juice-soda-brown-cane-sugar-fresh-mint-and-ice.jpg">
    <br>
    <br>
    <br>
    <br>
    <h3>Moscow Mule</h3>
    <p class="cubic">This is vodka's answer to the Dark 'N' Stormy, according to Drinks International. It's served in a copper mug filled with vodka, lime, ginger, and soda.</p>
    <img class="img_fav" src="http://static2.businessinsider.de/image/57f4e8a4dd08954e358b48cd-1200/8-moscow-mule-this-is-vodkas-answer-to-the-dark-n-stormy-according-to-drinks-international-its-served-in-a-copper-mug-filled-with-vodka-lime-ginger-and-soda.jpg">
    <br>
    <br>
    <br>
    <br>
    <h3>Margarita</h3>
    <p class="cubic">The frozen favourite has stayed in seventh place, though at 40% of the bars polled the drink isn't served frozen. It's best made with tequila, fresh lime juice, and agave syrup.</p>
    <img class="img_fav" src="http://static4.businessinsider.de/image/57f4e8a5dd08954e358b48cf-1200/7-margarita-the-frozen-favourite-has-stayed-in-seventh-place-though-at-40-of-the-bars-polled-the-drink-isnt-served-frozen-its-best-made-with-tequila-fresh-lime-juice-and-agave-syrup.jpg">
    <br>
    <br>
    <br>
    <br>
    <h3>Dry Martini</h3>
    <p class="cubic">This chic classic is made with gin and vermouth, garnished with an olive or a lemon twist.</p>
    <img class="img_fav" src="http://static4.businessinsider.de/image/57f4e8a6dd08954e358b48d1-1200/6-dry-martini-this-chic-classic-is-made-with-gin-and-vermouth-garnished-with-an-olive-or-a-lemon-twist.jpg">
    <br>
    <br>
    <br>
    <br>
    <h3>Whiskey Sour</h3>
    <p class="cubic">The dependable cocktail is made with bourbon, lemon juice, and a teaspoon of sugar.</p>
    <img class="img_fav" src="http://static3.businessinsider.de/image/57f4e8a6dd08954e358b48d0-1200/5-whiskey-sour-the-dependable-cocktail-is-made-with-bourbon-lemon-juice-and-a-teaspoon-of-sugar.jpg">
    <br>
    <br>
    <br>
    <br>
    <h3>Manhattan</h3>
    <p class="cubic">Down from its third place spot last year, this was a top seller in more than half of the bars polled, most frequently made with peppery rye, bitters, and sweet vermouth with Bulleit, Rittenhouse, and Maker's Mark.</p>
    <img class="img_fav" src="http://static1.businessinsider.de/image/57f4e8a7dd08954e358b48d3-1200/4-manhattan-down-from-its-third-place-spot-last-year-this-was-a-top-seller-in-more-than-half-of-the-bars-polled-most-frequently-made-with-peppery-rye-bitters-and-sweet-vermouth-with-bulleit-rittenhouse-and-makers-mark.jpg">
    <br>
    <br>
    <br>
    <br>
    <h3>Daiquiri</h3>
    <p class="cubic">The most-ordered rum drink in the world, this fruity favourite is made with lime juice, white rum, and sugar syrup, shaken, then served.</p>
    <img class="img_fav" src="http://static6.businessinsider.de/image/57f4e8a6dd08954e358b48d2-1200/3-daiquiri-the-most-ordered-rum-drink-in-the-world-this-fruity-favourite-is-made-with-lime-juice-white-rum-and-sugar-syrup-shaken-then-served.jpg">
    <br>
    <br>
    <br>
    <br>
    <h3>Negroni</h3>
    <p class="cubic">This Italian favourite is going nowhere, and is the second-most-orderered cocktail in the world. It's made with a third, third, and a third of Campari, sweet vermouth, and gin.</p>
    <img class="img_fav" src="http://static1.businessinsider.de/image/57f4e8a7dd08954e358b48d4-1200/2-negroni-this-italian-favourite-is-going-nowhere-and-is-the-second-most-orderered-cocktail-in-the-world-its-made-with-a-third-third-and-a-third-of-campari-sweet-vermouth-and-gin.jpg">
    <br>
    <br>
    <br>
    <br>
    <h3>Old Fashioned</h3>
    <p class="cubic">This trusty, refined drink has held its spot at the top, which indicates its revival is far from over. It's usually made with a sugar cube and Angostura bitters, crushed, and stirred with a large ice cube and bourbon.</p>
    <img class="img_fav" src="http://static2.businessinsider.de/image/57f4e8a8dd08954e358b48d5-1200/1-old-fashioned-this-trusty-refined-drink-has-held-its-spot-at-the-top-which-indicates-its-revival-is-far-from-over-its-usually-made-with-a-sugar-cube-and-angostura-bitters-crushed-and-stirred-with-a-large-ice-cube-and-bourbon.jpg">
    <br>
    <br>
    <br>
  </div>
</div>
