<div class="back_home">
  <div class="typed_wrap">
     <span id="banner-typed-text"></span>
  </div>
  <br>
  <br>
  <br>


  <div class="container">
    <div class="cards fluid">
      <%= link_to cocktails_path do %>
      <div class="card">
        <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://getbento.imgix.net/accounts/83ae39a3b3de63e64d52563cd1e9f71d/media/images/61350Union_Square_Cafe_cocktails.jpg?w=600&fit=max&auto=compress,format&h=600');">
          <span class="card-category">Cocktails</span>
          <div class="card-description">
            <p>Look at the favorite cocktails...</p>
          </div>
        </div>
        <div class="card-footer">
          <p>Last Update 14.02.18</p>
          <div class="controls">
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-heart"></i></a>
            <a href="#"><i class="fa fa-share"></i></a>
          </div>
        </div>
      </div>
      <% end %>
      <div class="card">
        <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://i.pinimg.com/564x/1b/0c/31/1b0c31e2d6b0a99928663a033ff26da4--international-trade-trade-show.jpg');">
          <span class="card-category">Locations</span>
          <div class="card-description">
            <p>Look at the many areas we have covered...</p>
          </div>
          <a class="card-link" href="#"></a>
        </div>
        <div class="card-footer">
          <p>Last Update 14.02.18</p>
          <div class="controls">
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-heart"></i></a>
            <a href="#"><i class="fa fa-share"></i></a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://www.kingscross.co.uk/media/415_Caravan_KX_Bar_015-800x800.jpg');">
          <span class="card-category">Our Community</span>
          <div class="card-description">
            <p>Look at our great community...</p>
          </div>
          <a class="card-link" href="#"></a>
        </div>
        <div class="card-footer">
          <p>Last Update 14.02.18</p>
          <div class="controls">
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-heart"></i></a>
            <a href="#"><i class="fa fa-share"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
