
.text-center {
  text-align: center;
}
.container {
  max-width: 1000px;
  min-height: 100vh;
}

h1, h2 {
  text-align: center;
}

.more {
  color: black;
  text-decoration: underline;
}

h3 {
  text-align: center;
}

.color {
  color: black;
}

.index_image {
  height: 850px;
  width: 100%;
}

.index_title {
  align-items: center;
  color: #BAB8BC;
  padding-top: 770px;
}

.fa-angle-double-down {
  padding-left: 50%;
  color: rgba(174,177,182, 0.5);
  // text-shadow: 1px 1px 1px #ccc;
  font-size: 3.5em;
}

.color {
  color: #8C9095;
}

.label {
  color: white;
}

.ob {
  opacity: 0.0;
}
